* {
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #BFD1E5;
}

.tela {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.nav {
    height: 60px;
    background-color: #9D6381;
    fill: #ffff;
}

.conteudo {
    flex: 1;
    min-height: 400px;
    display: flex;
}

.return {
    padding: 10px 10px;
}


.nomeado {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: fit-content;

    padding-top: 10px; 
    padding-bottom: 20px;

}

.nome {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-align: center;

    color: #1C0303;
}

.TabControl{ 
    position: relative;
    float: left;
    width:100%; 
    overflow:hidden; 
    height:100%;
}
.TabControl #header{
    float: left;

    width:100%; 
    overflow:hidden; 
    cursor:hand;
}
.TabControl #content{ 
    width:100%; 
    overflow:hidden; 
    height:100%; 
    padding-bottom: 1px;
}
.TabControl .abas{
    
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 610px){
    .TabControl .abas{
        justify-content: flex-start;
    }
    
}

.TabControl .abas li{
    float:left;
    list-style-type: none;
    flex-shrink: 0;
}

.aba{
    width:180px; 
    height:30px; 

    border-radius:5px 5px 0 0;

    text-align:center;  
    background:#9DACBC
}
.aba:hover{
    width:180px; 
    height:30px; 
    color: #BFC0C1;
    border-radius:5px 5px 0 0;
    text-align:center;  
    background:#AEBED1;
}
.aba:hover span, .selected span{
    color:#40464C
}

.TabControl #content{
    height: 100%;
    background:#BFD1E5
}
.TabControl .conteudo{
    width:100%;  
    background:#BFD1E5; 
    display:none; 
    height:100%;
    color:#fff
}
.selected{
    color: #fff;
    width:180px;
    height:30px; 
    border:solid 1 px; 
    border-radius:5px 5px 0 0;
    border-color: #000000;
    text-align:center; 
    background: #BFD1E5 ;
}

.sub_criterio {
    display: block;
    padding: 20px 10px 10px 30px;
    border-bottom: solid 1px;
    border-color: #40464C;
}
.avaliacao_escrita {
    width: 85%;
    height: 90px;
    
    padding-left: 10px;
    padding-top: 5px;
    
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 10px;

    background-color: #fff;
    font-family:'Roboto', sans-serif;
}
.motivo {
    margin-left: 30px;
    margin-top: 5px;
}

.TabControl, .nomeado {
  background-color: #EBF5EE;
}

.titulo {
    margin-bottom: 10px;

}

.butao {
    background-color: #51FF65;
    margin-top: 20px;
    height: 30px;
    width: 30%;
    max-width: 129px;

    font-weight: bold;
    border-radius: 5px;
}

.butao:hover {
    background-color: #70FF81;
}

.finalizacao {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    height: 60px;
}

.complete {
    background: #8B99A7;
}


#modalContainer {
    background-color:rgba(0, 0, 0, 0.3);
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:10000;
    /* background-image:url(tp.png); required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
    position:relative;
    width:300px;
    min-height:50px;
    margin-top:50px;
    border:1px solid #666;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:20px 30px;
}

#modalContainer > #alertBox {
    position:fixed;
}

#alertBox h1 {
    margin:0;
    font:bold 0.9em verdana,arial;
    background-color:#9D6381;
    color:#FFF;
    border-bottom:1px solid #000;
    padding:2px 0 2px 5px;
}

#alertBox p {
    font:0.7em verdana,arial;
    height:50px;
    padding-left:5px;
    margin-left:55px;
}

#alertBox #closeBtn {
    display:block;
    position:relative;
    margin:5px auto;
    padding:7px;
    border:0 none;
    width:70px;
    font:0.7em verdana,arial;
    text-transform:uppercase;
    text-align:center;
    color:#FFF;
    background-color:#9D6381;
    border-radius: 3px;
    text-decoration:none;
}

#alertBox #closeBtn :hover {
    background-color: rgb(116, 66, 78);
}

