* {
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #EBF5EE;
}

.tela {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tela #tela_inicial {
  
}

.nav {
    height: 60px;
    background-color: #9D6381;
    fill: #ffff;
}

.conteudo {
    flex: 1;
    min-height: 400px;
    display: flex;
}

.conteudo #tela_login {
    justify-content: center;
    align-items: center;
}


footer {
    background-color: #9D6381;
    height: 60px;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 60%;
}

input {
    display: block;

    height: 30px;
    width: 95%;
    max-width: 300px;
}

.butao {
    background-color: #BFD1E5;

    height: 30px;
    width: 30%;
    max-width: 129px;
}

.butao:hover {
    background-color: #CAD9E9;
} 

.user {
    height: 100px;
    width: 100px;
}

.return {
    padding: 10px 10px;
}


.nomeado {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 20px;

    padding-top: 10px; 

}

.nome {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-align: center;

    color: #1C0303;
}

.TabControl{ 
    width:100%; 
    overflow:hidden; 
    height:100%;
}
.TabControl #header{ 
    width:100%; 
    overflow:hidden; 
    cursor:hand
}
.TabControl #content{ 
    width:100%; 
    border: solid 1px;
    overflow:hidden; 
    height:100%; 
}
.TabControl .abas{
    display:flex;
    justify-content: space-around;
}
.TabControl .abas li{
    float:left;
    list-style-type: none;
}

.aba{
    width:150px; 
    height:30px; 
    border:solid 1px; 
    border-radius:5px 5px 0 0;
    text-align:center; 
    padding-top:5px; 
    background:#3A5FCD
}
.ativa{
    width:150px; 
    height:30px; 
    border:solid 1 px; 
    border-radius:5px 5px 0 0;
    text-align:center; 
    padding-top:5px; 
    background:#27408B;
}
.ativa span, .selected span{
    color:#fff
}
.TabControl #content{
    background:#27408B
}
.TabControl .conteudo{
    width:100%;  
    background:#27408B; 
    display:none; 
    height:100%;
    color:#fff
}
.selected{
    width:150px;
    height:30px; 
    border:solid 1 px; 
    border-radius:5px 5px 0 0;
    text-align:center; 
    padding-top:5px; 
    background:#27408B
}