* {
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #EBF5EE;
}

.tela {
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.nav {
    height: 60px;
    background-color: #9D6381;
    fill: #ffff;
}

.conteudo {
    flex: 1;
    min-height: 400px;
    
}

#tela_login {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #9D6381;
    height: 60px;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 60%;
}

input {
    display: block;

    height: 30px;
    width: 95%;
    max-width: 300px;
}

.butao {
    background-color: #BFD1E5;

    height: 30px;
    width: 30%;
    max-width: 129px;
}

.butao:hover {
    background-color: #CAD9E9;
} 

.user {
    height: 100px;
    width: 100px;
}

.return {
    padding: 10px 10px;
}

.return path {
    fill: #ffff;
}